body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
    color: #00ff00;
}

.header {
    background-image: url('AstroMuffin_MainBanner.png');
    background-size: cover;
    background-position: center;
    padding-top: 420px; /* Moves everything down to show galaxy */
    padding-bottom: 5px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    padding:2px 0;
    font-weight: bold;
    font-size: 20px;
}

.navbar a {
    color: gold;
    text-decoration: none;
    margin: 0 20px;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
}

.navbar a:hover {
    text-shadow: 0 0 5px yellow, 0 0 10px yellow;
}

.main {
    padding: 40px;
    text-align: center;
    color: white;
    background-color: #000;
}

.footer {
    background-color: #111;
    color: #ccc;
    text-align: center;
    padding: 20px;
    font-size: 12px;
    font-family: 'Courier New', monospace;
}
